<div data-controller="board">
  <canvas data-board-target="canvas"></canvas>
  <button data-board-target="startButton" data-action="click->board#start">
    Start
  </button>
  <button data-action="click->board#next">
    Next
  </button>
  <button data-board-target="clearButton" data-action="click->board#clear">
    Clear
  </button>
</div>
